In [45]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
import pickle
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [46]:
## Load the dataset
data=pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [47]:
## Preprocessing the data 
## Drop irrelevent data
data=data.drop(['RowNumber','CustomerId','Surname'],axis=True)

In [48]:
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [49]:
data.NumOfProducts.unique()

array([1, 3, 2, 4], dtype=int64)

In [50]:
## Encode categorical variables
label_encoder_gender=LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [51]:
## One hot encoding for Geography column
from sklearn.preprocessing import OneHotEncoder
onehot_encoder_geo=OneHotEncoder()
geo_encoder=onehot_encoder_geo.fit_transform(data[['Geography']])
geo_encoder

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [52]:
geo_encoder.toarray()

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [53]:
onehot_encoder_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [54]:
geo_encoded_df=pd.DataFrame(geo_encoder.toarray(),columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [55]:
## Combine all the columns with the original data
data=pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [56]:
## Save the encoder and scaler
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo,file)

In [57]:
## Divide the data into indepent and dependent features
X=data.drop('Exited',axis=1)
y=data['Exited']

In [58]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

## Scale these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [59]:
X_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [60]:
X_test

array([[-0.57749609,  0.91324755, -0.6557859 , ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.29729735,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.52560743, -1.09499335,  0.48508334, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.81311987, -1.09499335,  0.77030065, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.41876609,  0.91324755, -0.94100321, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.24540869,  0.91324755,  0.00972116, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [61]:
## Save the file 
with open ('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

In [62]:
## ANN Implemnetation
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

In [63]:
## Build Our ANN Model 
model=Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)), ## HL1 connected with the input layer
    Dense(28,activation='relu'),   ## HL2
    Dense(1,activation='sigmoid')  ## output layer
    

]
)

In [64]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 64)                832

 dense_7 (Dense)             (None, 28)                1820

 dense_8 (Dense)             (None, 1)                 29

=================================================================
Total params: 2681 (10.47 KB)
Trainable params: 2681 (10.47 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [65]:
import tensorflow
opt=tensorflow.keras.optimizers.Adam(learning_rate=0.01)
loss=tensorflow.keras.losses.binary_crossentropy

In [66]:
model.compile(optimizer=opt,loss=loss,metrics=['accuracy'])

In [67]:
from tensorflow.keras.callbacks import TensorBoard, EarlyStopping

log_dir="logs/fit/"+ datetime.datetime.now().strftime("%y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [68]:
## Set as Early stopping
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [69]:

### Train the model
history=model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=100,
    callbacks=[tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
250/250 [==============================] - 2s 4ms/step - loss: 0.4025 - accuracy: 0.8346 - val_loss: 0.3449 - val_accuracy: 0.8590
Epoch 2/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3528 - accuracy: 0.8544 - val_loss: 0.3495 - val_accuracy: 0.8510
Epoch 3/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3474 - accuracy: 0.8579 - val_loss: 0.3437 - val_accuracy: 0.8585
Epoch 4/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3401 - accuracy: 0.8604 - val_loss: 0.3468 - val_accuracy: 0.8575
Epoch 5/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3359 - accuracy: 0.8624 - val_loss: 0.3478 - val_accuracy: 0.8595
Epoch 6/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3360 - accuracy: 0.8635 - val_loss: 0.3478 - val_accuracy: 0.8610
Epoch 7/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3362 - accuracy: 0.8625 - val_loss: 0.3469 - val_accuracy: 0.8630
Epoch 8/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3300 - accuracy: 0.8626 - val_loss: 0.3563 - val_accuracy: 0.8560
Epoch 9/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3325 - accuracy: 0.8622 - val_loss: 0.3370 - val_accuracy: 0.8640
Epoch 10/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3290 - accuracy: 0.8636 - val_loss: 0.3362 - val_accuracy: 0.8630
Epoch 11/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3240 - accuracy: 0.8659 - val_loss: 0.3459 - val_accuracy: 0.8600
Epoch 12/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3233 - accuracy: 0.8649 - val_loss: 0.3499 - val_accuracy: 0.8640
Epoch 13/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3194 - accuracy: 0.8677 - val_loss: 0.3598 - val_accuracy: 0.8620
Epoch 14/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3185 - accuracy: 0.8705 - val_loss: 0.3492 - val_accuracy: 0.8605
Epoch 15/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3172 - accuracy: 0.8658 - val_loss: 0.3485 - val_accuracy: 0.8565
Epoch 16/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3141 - accuracy: 0.8696 - val_loss: 0.3608 - val_accuracy: 0.8625
Epoch 17/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3142 - accuracy: 0.8671 - val_loss: 0.3516 - val_accuracy: 0.8640
Epoch 18/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3081 - accuracy: 0.8701 - val_loss: 0.3456 - val_accuracy: 0.8645
Epoch 19/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3114 - accuracy: 0.8694 - val_loss: 0.3521 - val_accuracy: 0.8635
Epoch 20/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3038 - accuracy: 0.8731 - val_loss: 0.3630 - val_accuracy: 0.8635

In [70]:
model.save('model.h5')

In [71]:
## Load Tensorboard Extention 
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [72]:
%tensorboard --logdir logs/fit/250608-114008

Reusing TensorBoard on port 6006 (pid 17364), started 2:28:42 ago. (Use '!kill 17364' to kill it.)