In [69]:
import pandas as pd
import tensorflow as tf
import numpy as np
from tensorflow.keras.models import load_model
import pickle

In [70]:
## Load Pickle file and model

model=load_model('model.h5')

## Load encoder and scaler

with open ('onehot_encoder_geo.pkl','rb') as file:
    label_encoder_geo=pickle.load(file)

with open ('label_encoder_gender.pkl','rb') as file:
    label_encoder_gender=pickle.load(file)

with open ('scaler.pkl', 'rb' ) as file:
    scaler=pickle.load(file)

In [71]:
## Input data for the prediction
input_data = {
    'CreditScore': 600,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000
}

In [72]:
geo_encoded=label_encoder_geo.transform([[input_data['Geography']]]).toarray()
geo_encoded_df=pd.DataFrame(geo_encoded,columns=label_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

d:\ML-PROJECT\ML_PROJECT-2\annclassification\venv\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [73]:
## Applying the encoding
data_df=pd.DataFrame([input_data])
data_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,3,60000,2,1,1,50000

In [74]:
## Encode categorical variables
data_df['Gender']=label_encoder_gender.transform(data_df['Gender'])
data_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,1,40,3,60000,2,1,1,50000

In [75]:
## concatination one hot encoded 
input_df=pd.concat([data_df.drop("Geography",axis=1),geo_encoded_df],axis=1)
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [76]:
## Scaling 
input_scaled=scaler.transform(input_df)
input_scaled

array([[-0.53598516,  0.91324755,  0.10479359, -0.69539349, -0.25781119,
         0.80843615,  0.64920267,  0.97481699, -0.87683221,  1.00150113,
        -0.57946723, -0.57638802]])

In [77]:
prediction=model.predict(input_scaled)

1/1 [==============================] - 0s 100ms/step

In [78]:
prediction_prob=prediction[0][0]
prediction_prob

0.028021876

In [79]:
if prediction_prob> 0.5:
    print(" Customer likely to churn ")
else:
    print(" Customer is not likely to churn")

 Customer is not likely to churn